# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Autism_Spectrum_Classification\RobMed\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
